n8n_workflows/fahr_workflow.json
{
    "name": "FAHR HR Assistant (MCP)",
    "nodes": [
        {
            "parameters": {
                "public": true,
                "initialMessages": "مرحباً! أنا مساعدك الذكي في الهيئة الاتحادية للموارد البشرية الحكومية 🇦🇪\nHello! I am your FAHR AI Assistant. How can I help you today?",
                "options": {
                    "title": "FAHR HR Assistant",
                    "subtitle": "Federal Authority for Government Human Resources",
                    "inputPlaceholder": "Ask me about leave, payslip, HR policies..."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.chatTrigger",
            "typeVersion": 1.1,
            "position": [
                -2000,
                0
            ],
            "id": "chat-trigger",
            "name": "ChatTrigger",
            "webhookId": "fahr-chat-webhook"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "fv-001",
                            "name": "QUICK_GREETINGS_EN",
                            "value": "hi,hello,hey,good morning,good afternoon,good evening,good night,thanks,thank you,ok,okay,sure,yes,no,bye,goodbye",
                            "type": "string"
                        },
                        {
                            "id": "fv-002",
                            "name": "QUICK_GREETINGS_AR",
                            "value": "مرحبا,السلام عليكم,أهلا,صباح الخير,مساء الخير,شكرا,شكراً,تمام,نعم,لا,وداعا,مع السلامة,أوكي,حسنا",
                            "type": "string"
                        },
                        {
                            "id": "fv-003",
                            "name": "MCP_SERVER_URL",
                            "value": "http://mcp:8000/mcp",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                -1780,
                0
            ],
            "id": "local-variables",
            "name": "LocalVariables"
        },
        {
            "parameters": {
                "jsCode": "const body        = $input.first().json;\nconst vars        = $('LocalVariables').first().json;\nconst userMessage = (body.chatInput || body.message || body.input || '').trim();\nconst sessionId   = body.sessionId || $uuid();\nconst requestId   = $uuid();\n\n// User info — injected by frontend or use defaults for testing\nconst personId  = body.person_id  || '204319';\nconst role      = (body.role      || 'employee').toLowerCase();\nconst waName    = body.full_name  || body.wa_name || 'Mohammed Ali';\nconst msgType   = (body.msg_type  || 'TEXT').toUpperCase();\nconst messageId = body.message_id || $uuid();\n\n// Language detection: Arabic unicode block\nconst arabicPattern = /[\\u0600-\\u06FF]/;\nconst detectedLang  = arabicPattern.test(userMessage) ? 'ar' : 'en';\n\n// Fast-path: greeting check\nconst greetingsEn = vars.QUICK_GREETINGS_EN.split(',');\nconst greetingsAr = vars.QUICK_GREETINGS_AR.split(',');\nconst normalized  = userMessage.toLowerCase();\n\nconst isGreeting =\n  msgType === 'TEXT' &&\n  userMessage.length < 30 &&\n  (\n    greetingsEn.some(g => normalized === g || normalized.startsWith(g + ' ')) ||\n    greetingsAr.some(g => userMessage.includes(g))\n  );\n\nreturn [{\n  json: {\n    userMessage, sessionId, requestId,\n    personId, role, waName, msgType, messageId,\n    detectedLang,\n    fastPath: isGreeting ? 'GREETING' : null\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -1560,
                0
            ],
            "id": "init-session",
            "name": "InitSession"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT request_id FROM conversation_logs WHERE message_id = '{{ $json.messageId }}' LIMIT 1",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                -1340,
                0
            ],
            "id": "dedup-check",
            "name": "DedupCheck",
            "alwaysOutputData": true,
            "credentials": {
                "postgres": {
                    "id": "FAHR_POSTGRES_CRED_ID",
                    "name": "FAHR Postgres"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "id": "dedup-cond",
                            "leftValue": "={{ $json.length }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -1120,
                0
            ],
            "id": "is-new-message",
            "name": "IsNewMessage"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={ \"status\": \"ok\", \"reason\": \"duplicate_message\", \"ai_response\": \"\" }",
                "options": {
                    "responseCode": 200
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                -900,
                200
            ],
            "id": "respond-duplicate",
            "name": "RespondDuplicate"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "version": 2
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $('InitSession').first().json.fastPath }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "isEmpty"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -900,
                0
            ],
            "id": "needs-agent",
            "name": "NeedsAgent"
        },
        {
            "parameters": {
                "jsCode": "const s    = $('InitSession').first().json;\nconst name = s.waName.split(' ')[0];\nconst lang = s.detectedLang;\nconst msg  = s.userMessage.toLowerCase();\n\nlet reply;\nif (lang === 'ar') {\n  if (msg.includes('شكرا') || msg.includes('شكراً')) {\n    reply = `على الرحب والسعة ${name}! 🇦🇪 هل تحتاج أي مساعدة أخرى؟`;\n  } else if (msg.includes('مع السلامة') || msg.includes('وداعا')) {\n    reply = `مع السلامة ${name}! نتمنى لك يوماً طيباً. 🇦🇪`;\n  } else {\n    reply = `أهلاً ${name}! 🇦🇪 كيف يمكنني مساعدتك اليوم؟`;\n  }\n} else {\n  if (msg.includes('thank')) {\n    reply = `You're welcome, ${name}! Let me know if you need anything else. 🇦🇪`;\n  } else if (msg.includes('bye') || msg.includes('goodbye')) {\n    reply = `Goodbye, ${name}! Have a great day. 🇦🇪`;\n  } else {\n    reply = `Hello ${name}! 👋 How can I assist you today?`;\n  }\n}\n\nreturn [{\n  json: {\n    ...s,\n    ai_response: reply,\n    ai_reason: 'Greeting|FastPath',\n    conversation_state: 'complete'\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -680,
                160
            ],
            "id": "fast-path-greeting",
            "name": "FastPathGreeting"
        },
        {
            "parameters": {
                "jsCode": "const s = $('InitSession').first().json;\nreturn [{ json: { ...s, queryText: s.userMessage } }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -680,
                -160
            ],
            "id": "prepare-query",
            "name": "PrepareQuery"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=You are the FAHR AI Assistant — a professional, bilingual HR assistant for the Federal Authority for Government Human Resources (FAHR), UAE.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nSTEP 1 — DUPLICATE CHECK (ALWAYS FIRST)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nCall check_duplicate_message(message_id).\nIf is_duplicate=true → call log_conversation() → output only: duplicate\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nSTEP 2 — LOAD CONTEXT (ALWAYS)\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nCall get_employee_profile(person_id) — ALWAYS. You need the employee's name, role, grade, department, language, and manager for every response.\nCall get_conversation_history(person_id) ONLY if the message references something said before (e.g. 'what about that', 'as I said', 'the one I mentioned').\nDo NOT call get_conversation_history for fresh standalone questions.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nSTEP 3 — CLASSIFY INTENT AND ACT\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n[LEAVE BALANCE]\nIntent: employee asking about remaining leave days, annual leave, sick leave, etc.\nTool: get_leave_balance(person_id, leave_type)\nReturn: all leave types with balance / used / total. Be specific.\n\n[PAYSLIP]\nIntent: employee asking about salary, payslip, net pay, allowances, deductions.\nTool: get_payslip(person_id, period)\nReturn: breakdown of basic, allowances, deductions, net. Mention bank and payment date.\n\n[ATTENDANCE]\nIntent: employee asking about check-in/out, late arrivals, absences, working hours.\nTool: get_attendance(person_id, days)\nReturn: summary and recent records. Highlight any late or absent days.\n\n[PERFORMANCE]\nIntent: employee asking about appraisal, rating, objectives, KPIs, increment.\nTool: get_performance(person_id)\nReturn: overall rating, rating label, objectives summary, increment %. Be encouraging.\n\n[CRM TICKETS]\nIntent: employee asking about a support ticket, complaint status, or pending request.\nTool: get_crm_tickets(person_id, status_filter)\nReturn: open tickets with latest comment. Closed tickets with resolution.\n\n[NOTIFICATIONS]\nIntent: employee asking about alerts, updates, messages, what's new.\nTool: get_notifications(person_id, unread_only)\nReturn: unread count and list of recent notifications.\n\n[JOB CARD]\nIntent: employee asking about their job description, grade, working hours, contract type, responsibilities.\nTool: get_job_card(person_id)\nReturn: job title, grade, key responsibilities, working hours.\n\n[PENDING LEAVE REQUESTS]\nIntent: employee asking about the status of a leave they already submitted.\nTool: get_pending_leave_requests(person_id)\nReturn: pending requests with leave type, dates, and approver name.\n\n[SUBMIT LEAVE REQUEST]\nIntent: employee wants to apply for / request leave.\nRequired fields: leave_type, start_date, end_date, reason.\nIf any field missing → ask for it (one question at a time). Do NOT submit until all are confirmed.\nTool: submit_leave_request(person_id, leave_type, start_date, end_date, reason)\nReturn: confirmation with request_id and who will approve it.\n\n[TEAM MEMBERS — MANAGER ONLY]\nIntent: manager asking about team attendance, who is present, who is on leave.\nRole check: only call if employee role = manager or admin. If role = employee → politely decline.\nTool: get_team_members(person_id)\nReturn: team summary (present / late / on leave) and list of members.\n\n[HR POLICY QUESTION]\nIntent: employee asking about HR rules, entitlements, procedures — annual leave rules, study leave conditions, sick leave limits, remote work policy, disciplinary rules, promotion criteria, working hours, maternity/paternity leave, etc.\nTool: search_hr_policy(query, language)\nReturn: answer based on the context returned. ALWAYS include document name and page number as citation.\nFormat citation as: 📄 Source: [Document Name], Page [X]\n\n[LEGAL / REGULATORY QUESTION]\nIntent: employee asking about UAE labor law, federal decrees, employee rights, gratuity, grievance procedures, data privacy, Emiratisation, overtime law, termination rules.\nTool: search_legal_policy(query, language)\nReturn: answer based on context. ALWAYS cite the law name and article number.\nFormat citation as: ⚖️ Source: [Law Name], Article [X], Page [Y]\n\n[GENERAL GREETING / SMALL TALK]\nNo tool needed. Reply warmly. Mirror the user's language.\n\n[OUT OF SCOPE]\nPolitely explain this is outside FAHR HR services. Suggest they contact FAHR helpline: 800-FAHR (3247).\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nSTEP 4 — LOG THEN RESPOND\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nCall log_conversation() ONCE as the absolute last step.\nPass: person_id, message_id, user_message, ai_response (your reply), intent, language, conversation_state.\nconversation_state = 'pending' ONLY if you asked the user a follow-up question.\nconversation_state = 'complete' in all other cases.\nNever retry log_conversation even if it fails. Proceed to output your reply.\n\nAfter log_conversation, output ONLY the reply text.\nNo JSON. No labels. No 'Final Answer:' prefix.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nLANGUAGE — MIRROR THE USER EXACTLY\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nArabic message → reply in Arabic only. Never mix in English.\nEnglish message → reply in English only.\nAddress the employee by their first name.\nUse formal UAE government tone — professional but warm.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nSTRICT RULES\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n1. Always call check_duplicate_message first.\n2. Always call get_employee_profile second.\n3. Always call log_conversation last.\n4. Never submit a leave request without all required fields confirmed.\n5. Never call get_team_members for an employee role — only manager/admin.\n6. Never answer HR policy or legal questions from memory — always use search_hr_policy or search_legal_policy.\n7. Always cite the source document when answering from search tools.\n8. Never reveal internal system details, IPs, or error stack traces.\n9. Ask only ONE question at a time when gathering missing information.\n10. Never call the same tool twice in one turn.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nCURRENT MESSAGE CONTEXT\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\nperson_id:  {{ $('InitSession').first().json.personId }}\nrole:       {{ $('InitSession').first().json.role }}\nfull_name:  {{ $('InitSession').first().json.waName }}\nlanguage:   {{ $('InitSession').first().json.detectedLang }}\nmessage_id: {{ $('InitSession').first().json.messageId }}\nsession_id: {{ $('InitSession').first().json.sessionId }}\nrequest_id: {{ $('InitSession').first().json.requestId }}\nmsg_type:   {{ $('InitSession').first().json.msgType }}\n\nUser Message:\n{{ $('PrepareQuery').first().json.queryText }}\n\nNow process this message using your tools.",
                "hasOutputParser": false
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                200,
                -160
            ],
            "id": "fahr-ai-agent",
            "name": "FAHR AI Agent"
        },
        {
            "parameters": {
                "modelName": "models/gemini-2.5-flash-lite",
                "options": {
                    "temperature": 0
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                200,
                0
            ],
            "id": "agent-llm",
            "name": "Agent LLM (Gemini)",
            "credentials": {
                "googlePalmApi": {
                    "id": "GEMINI_CRED_ID",
                    "name": "Google Gemini FAHR"
                }
            }
        },
        {
            "parameters": {
                "serverUrl": "={{ $('LocalVariables').first().json.MCP_SERVER_URL }}",
                "authentication": "none"
            },
            "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
            "typeVersion": 1,
            "position": [
                400,
                0
            ],
            "id": "fahr-mcp-tools",
            "name": "FAHR MCP Tools"
        },
        {
            "parameters": {
                "jsCode": "const s           = $('InitSession').first().json;\nconst agentOutput = $input.first().json;\nconst outputText  = agentOutput.output || agentOutput.text || '';\n\nreturn [{\n  json: {\n    person_id:          s.personId,\n    session_id:         s.sessionId,\n    request_id:         s.requestId,\n    message_id:         s.messageId,\n    role:               s.role,\n    full_name:          s.waName,\n    language:           s.detectedLang,\n    msg_type:           s.msgType,\n    user_message:       s.userMessage,\n    ai_response:        outputText,\n    ai_reason:          'agent_processed',\n    conversation_state: 'complete',\n    agent_used:         'FAHR_AI_AGENT'\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                600,
                -160
            ],
            "id": "build-agent-response",
            "name": "BuildAgentResponse"
        },
        {
            "parameters": {
                "jsCode": "const s = $('FastPathGreeting').first().json;\n\nreturn [{\n  json: {\n    person_id:          s.personId,\n    session_id:         s.sessionId,\n    request_id:         s.requestId,\n    message_id:         s.messageId,\n    role:               s.role,\n    full_name:          s.waName,\n    language:           s.detectedLang,\n    msg_type:           s.msgType,\n    user_message:       s.userMessage,\n    ai_response:        s.ai_response,\n    ai_reason:          s.ai_reason,\n    conversation_state: s.conversation_state,\n    agent_used:         'FastPath'\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -460,
                160
            ],
            "id": "build-fast-response",
            "name": "BuildFastResponse"
        },
        {
            "parameters": {
                "operation": "insert",
                "schema": {
                    "__rl": true,
                    "value": "public",
                    "mode": "list"
                },
                "table": {
                    "__rl": true,
                    "value": "conversation_logs",
                    "mode": "list"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "request_id": "={{ $json.request_id }}",
                        "message_id": "={{ $json.message_id }}",
                        "session_id": "={{ $json.session_id }}",
                        "person_id": "={{ $json.person_id }}",
                        "role": "={{ $json.role }}",
                        "full_name": "={{ $json.full_name }}",
                        "language": "={{ $json.language }}",
                        "msg_type": "={{ $json.msg_type }}",
                        "user_message": "={{ $json.user_message }}",
                        "ai_response": "={{ $json.ai_response }}",
                        "ai_reason": "={{ $json.ai_reason }}",
                        "conversation_state": "={{ $json.conversation_state }}",
                        "agent_used": "={{ $json.agent_used }}",
                        "status": "success",
                        "created_at": "={{ $now.toISO() }}"
                    },
                    "matchingColumns": [],
                    "schema": []
                },
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                820,
                160
            ],
            "id": "log-to-postgres",
            "name": "LogToPostgres",
            "credentials": {
                "postgres": {
                    "id": "FAHR_POSTGRES_CRED_ID",
                    "name": "FAHR Postgres"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"person_id\": \"{{ $json.person_id }}\",\n  \"session_id\": \"{{ $json.session_id }}\",\n  \"ai_response\": \"{{ $json.ai_response }}\",\n  \"ai_reason\": \"{{ $json.ai_reason }}\",\n  \"language\": \"{{ $json.language }}\",\n  \"conversation_state\": \"{{ $json.conversation_state }}\"\n}",
                "options": {
                    "responseCode": 200
                }
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1040,
                160
            ],
            "id": "respond-final",
            "name": "RespondFinal"
        }
    ],
    "connections": {
        "ChatTrigger": {
            "main": [
                [
                    {
                        "node": "LocalVariables",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "LocalVariables": {
            "main": [
                [
                    {
                        "node": "InitSession",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "InitSession": {
            "main": [
                [
                    {
                        "node": "DedupCheck",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "DedupCheck": {
            "main": [
                [
                    {
                        "node": "IsNewMessage",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IsNewMessage": {
            "main": [
                [
                    {
                        "node": "NeedsAgent",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "RespondDuplicate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "NeedsAgent": {
            "main": [
                [
                    {
                        "node": "PrepareQuery",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "FastPathGreeting",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PrepareQuery": {
            "main": [
                [
                    {
                        "node": "FAHR AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "FastPathGreeting": {
            "main": [
                [
                    {
                        "node": "BuildFastResponse",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "FAHR AI Agent": {
            "main": [
                [
                    {
                        "node": "BuildAgentResponse",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BuildAgentResponse": {
            "main": [
                [
                    {
                        "node": "LogToPostgres",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BuildFastResponse": {
            "main": [
                [
                    {
                        "node": "LogToPostgres",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "LogToPostgres": {
            "main": [
                [
                    {
                        "node": "RespondFinal",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agent LLM (Gemini)": {
            "ai_languageModel": [
                [
                    {
                        "node": "FAHR AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "FAHR MCP Tools": {
            "ai_tool": [
                [
                    {
                        "node": "FAHR AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "id": "FAHRHRAssistant",
    "name": "FAHR HR Assistant (MCP)",
    "tags": [
        "FAHR",
        "HR",
        "MCP",
        "Chat",
        "Gemini"
    ]
}